@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200;1,400&family=Roboto:wght@100&display=swap");
.header {
  padding: 20px 10px;
  z-index: 9999;
  -webkit-transition: all ease-out .5s;
  transition: all ease-out .5s;
  background: transparent;
}

.header .logo a {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 2px;
  color: #fff;
}

.header .navbar-toggler {
  color: #fff;
}

.header .navbar .navbar-nav .nav-item a {
  color: #fff;
}

.header .navbar .navbar-nav .nav-item .active {
  color: #F4C107;
}

.header .navbar .navbar-nav .nav-item .nav-link {
  padding-right: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #F4C107;
}

.header .navbar .navbar-nav .dropdown a {
  color: #fff;
}

.header .navbar .navbar-nav .dropdown ul {
  display: block;
  position: absolute;
  list-style: none;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
          box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .navbar .navbar-nav .dropdown ul li {
  min-width: 200px;
  padding: 20px 10px;
}

.header .navbar .navbar-nav .dropdown ul li a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .navbar .navbar-nav .dropdown ul li a:hover {
  color: #F4C107;
}

.header .navbar .navbar-nav .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.header-scrolled {
  background-color: rgba(55, 64, 85, 0.9);
}

.welcome-to-baker {
  background: url(../images/welcome-background.jpg) top center;
  position: relative;
  background-size: cover;
  height: 80vh;
}

.welcome-to-baker .section__inner {
  text-align: center;
  position: absolute;
  left: 50px;
  right: 50px;
  top: 236px;
}

.welcome-to-baker .section__inner h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

.welcome-to-baker .section__inner h2 {
  color: #eee;
  margin: 15px 0 0 0;
  font-size: 22px;
}

.welcome-to-baker .section__inner .get__started {
  background: transparent;
  color: #fff;
  width: 160px;
  border: 2px solid #F4C107;
  border-radius: 90px;
  padding: 10px 20px;
  margin-top: 40px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.welcome-to-baker .section__inner .get__started:hover {
  background: #F4C107;
}

.welcome-to-baker::before {
  content: "";
  background: rgba(45, 53, 69, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.clients {
  margin-bottom: 30px;
  background-color: #F7F8FA;
  padding: 15px 0px;
}

.clients img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 100px;
  max-width: 40%;
  display: inline-block;
  padding: 15px 0px;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
}

.clients img:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mid-section {
  margin-top: 60px;
}

.mid-section .bx-receipt {
  font-size: 48px;
  color: #8b97b3;
  margin-top: 15px;
}

.mid-section .bx-cube-alt {
  font-size: 48px;
  color: #8b97b3;
  margin-top: 15px;
}

.mid-section h3 {
  color: #414C64;
  font-weight: 700;
  font-size: 34px;
  margin-top: 10px;
}

.mid-section p {
  font-size: 15px;
  color: #848484;
}

.mid-section h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.counter {
  background: #f7f8fa;
  padding: 40px 0px;
  margin-top: 60px;
}

.counter .purecounter {
  font-size: 48px;
  display: block;
  color: #414c64;
}

.counter p {
  font-size: 14px;
}

.services {
  margin-top: 60px;
}

.services .services__title {
  text-align: center;
  padding-bottom: 30px;
}

.services .services__title h2 {
  padding-bottom: 20px;
  position: relative;
  font-weight: bold;
  font-size: 32px;
}

.services .services__title h2::after {
  content: "";
  background: #ffc107;
  position: absolute;
  display: block;
  height: 3px;
  width: 50px;
  left: 622px;
  margin-top: 20px;
}

.services .services__title p {
  padding-top: 20px;
  margin-bottom: 0;
  font-size: 14px;
  color: #aab3c7;
}

.services .service {
  text-align: center;
  margin: 10px 0px;
  padding: 70px 20px 80px 20px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background: #fff;
  -webkit-box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
          box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.services .service .icon__one i {
  color: #47AEFF;
  font-size: 32px;
  border: 1px solid #f5f5f5;
  border-radius: 50px;
  background: #f5f5f5;
  width: 64px;
  height: 64px;
  padding: 18px 0px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.services .service .icon__two i {
  color: #FFA76E;
  font-size: 32px;
  border: 1px solid #f5f5f5;
  border-radius: 50px;
  background: #f5f5f5;
  width: 64px;
  height: 64px;
  padding: 18px 0px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.services .service .icon__three i {
  color: #E80368;
  font-size: 32px;
  border: 1px solid #f5f5f5;
  border-radius: 50px;
  background: #f5f5f5;
  width: 64px;
  height: 64px;
  padding: 18px 0px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.services .service .icon__four i {
  color: #FFBB2C;
  font-size: 32px;
  border: 1px solid #f5f5f5;
  border-radius: 50px;
  background: #f5f5f5;
  width: 64px;
  height: 64px;
  padding: 18px 0px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.services .service .icon__five i {
  color: #FF5828;
  font-size: 32px;
  border: 1px solid #f5f5f5;
  border-radius: 50px;
  background: #f5f5f5;
  width: 64px;
  height: 64px;
  padding: 18px 0px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.services .service .icon__six i {
  color: #11DBCF;
  font-size: 32px;
  border: 1px solid #f5f5f5;
  border-radius: 50px;
  background: #f5f5f5;
  width: 64px;
  height: 64px;
  padding: 18px 0px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.services .service h4 {
  font-weight: 600;
  margin: 10px 0px 15px 0px;
  font-size: 22px;
}

.services .service h4 a {
  color: #414c64;
}

.services .service p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .service:hover {
  -webkit-box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.18);
          box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.18);
}

.services .service:hover .icon__one i {
  color: #fff;
  background: #47AEFF;
}

.services .service:hover .icon__two i {
  color: #fff;
  background: #FFA76E;
}

.services .service:hover .icon__three i {
  color: #fff;
  background: #E80368;
}

.services .service:hover .icon__four i {
  color: #fff;
  background: #FFBB2C;
}

.services .service:hover .icon__five i {
  color: #fff;
  background: #FF5828;
}

.services .service:hover .icon__six i {
  color: #fff;
  background: #11DBCF;
}

.call-to-action {
  background: #414C64;
  color: #fff;
  padding: 60px 0;
  margin-top: 60px;
}

.call-to-action .section__title h3 {
  font-size: 28px;
  font-weight: 700;
}

.call-to-action .section__detail p {
  font-size: 16px;
}

.call-to-action .section__button button {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #ffc107;
  color: #fff;
  background: #414C64;
}

.call-to-action .section__button button:hover {
  background: #ffc107;
  color: #fff;
}

.testimonials {
  margin-top: 60px;
}

.testimonials .testimonials__title {
  text-align: center;
  padding-bottom: 30px;
}

.testimonials .testimonials__title h2 {
  padding-bottom: 20px;
  position: relative;
  font-weight: bold;
  font-size: 32px;
}

.testimonials .testimonials__title h2::after {
  content: "";
  background: #ffc107;
  position: absolute;
  display: block;
  height: 3px;
  width: 50px;
  left: 622px;
  margin-top: 20px;
}

.testimonials .testimonials__title p {
  padding-top: 20px;
  margin-bottom: 0;
  font-size: 14px;
  color: #aab3c7;
}

.testimonials .testimonials__body .testimonial p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: #fafafc;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.testimonials .testimonials__body .testimonial p i {
  font-size: 26px;
  color: #ffc107;
}

.testimonials .testimonials__body .testimonial p .quote-icon-left {
  display: inline-block;
  position: relative;
  left: -5px;
}

.testimonials .testimonials__body .testimonial p .quote-icon-right {
  display: inline-block;
  position: relative;
  right: -5px;
  top: 10px;
}

.testimonials .testimonials__body .testimonial .testimonial__image {
  width: 90px;
  border-radius: 50%;
  position: relative;
  margin: -40px 0 0 40px;
  z-index: 2;
  border: 6px solid #fff;
}

.testimonials .testimonials__body .testimonial h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: #111;
}

.testimonials .testimonials__body .testimonial h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 45px;
}

.testimonials .testimonials__body .owl-dots {
  position: relative;
  padding-top: 70px;
  text-align: center;
}

.testimonials .testimonials__body .owl-dots .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0px 11px;
}

.testimonials .testimonials__body .owl-dots .owl-dot span {
  background: #fff none repeat scroll 0 0;
  bottom: 40px;
  display: block;
  height: 12px;
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 12px;
  opacity: 1;
  background: #fff;
  border: 1px solid #ffc107;
  border-radius: 50%;
}

.testimonials .testimonials__body .owl-dots .active span {
  background: #FFC107 none repeat scroll 0 0;
}

.portfolio {
  margin-top: 60px;
}

.portfolio .portfolio__title {
  text-align: center;
  padding-bottom: 30px;
}

.portfolio .portfolio__title h2 {
  padding-bottom: 20px;
  position: relative;
  font-weight: bold;
  font-size: 32px;
}

.portfolio .portfolio__title h2::after {
  content: "";
  background: #ffc107;
  position: absolute;
  display: block;
  height: 3px;
  width: 50px;
  left: 622px;
  margin-top: 20px;
}

.portfolio .portfolio__title p {
  padding-top: 20px;
  margin-bottom: 0;
  font-size: 14px;
  color: #aab3c7;
}

.portfolio .work-filter ul li {
  display: inline-block;
  margin: 0 3px 10px 3px;
  list-style: none;
  border-radius: 50px;
  background: #fafafc;
  cursor: pointer;
  color: #414c64;
  padding: 8px 18px 10px 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.portfolio .work-filter ul li:hover {
  background: #ffc107;
  color: #414c64;
}

.portfolio .work-filter ul li.active {
  color: #414c64;
  background: #ffc107;
}

.portfolio .work-filter-item {
  overflow: hidden;
}

.portfolio .work-filter-item img {
  position: relative;
  top: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .work-filter-item:hover .portfolio-info {
  opacity: 1;
  bottom: 30px;
}

.portfolio .work-filter-item:hover img {
  top: -30px;
}

.portfolio .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 11px;
  z-index: 3;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background: #ffc107;
  padding: 15px 20px;
}

.portfolio .portfolio-info > h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-info > p {
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
}

.portfolio .portfolio-info a {
  position: absolute;
  right: 50px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.portfolio .portfolio-info a i {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.portfolio .portfolio-info a i:hover {
  color: #fff;
}

.portfolio .portfolio-info .details-link {
  right: 15px;
}

.portfolio-details {
  padding: 30px;
}

.portfolio-details .owl-carousel .owl-dots {
  position: relative;
  padding-top: 70px;
  text-align: center;
}

.portfolio-details .owl-carousel .owl-dots .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0px 11px;
}

.portfolio-details .owl-carousel .owl-dots .owl-dot span {
  background: #fff none repeat scroll 0 0;
  bottom: 40px;
  display: block;
  height: 12px;
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 12px;
  opacity: 1;
  background: #fff;
  border: 1px solid #ffc107;
  border-radius: 50%;
}

.portfolio-details .owl-carousel .owl-dots .active span {
  background: #FFC107 none repeat scroll 0 0;
}

.portfolio-details .project-info {
  padding: 30px;
  -webkit-box-shadow: 0px 0px 30px rgba(65, 76, 100, 0.08);
          box-shadow: 0px 0px 30px rgba(65, 76, 100, 0.08);
}

.portfolio-details .project-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .project-info ul {
  list-style: none;
  font-size: 15px;
}

.portfolio-details .project-info ul li {
  margin-top: 10px;
}

.portfolio-details .project-info ul li a {
  color: #ffc107;
}

.portfolio-details .project-detail {
  padding-top: 30px;
}

.portfolio-details .project-detail h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.team {
  background-color: #f7f8fa;
  margin-top: 60px;
  padding-bottom: 60px;
}

.team .team__title {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}

.team .team__title h2 {
  padding-bottom: 20px;
  position: relative;
  font-weight: bold;
  font-size: 32px;
}

.team .team__title h2::after {
  content: "";
  background: #ffc107;
  position: absolute;
  display: block;
  height: 3px;
  width: 50px;
  left: 622px;
  margin-top: 20px;
}

.team .team__title p {
  padding-top: 20px;
  margin-bottom: 0;
  font-size: 14px;
  color: #aab3c7;
}

.team .team__body .member {
  -webkit-box-shadow: 0px 2px 15px rgba(65, 76, 100, 0.06);
          box-shadow: 0px 2px 15px rgba(65, 76, 100, 0.06);
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 5px;
  background: #fff;
}

.team .team__body .member .member__image {
  position: relative;
  overflow: hidden;
}

.team .team__body .member .member__image .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.85);
}

.team .team__body .member .member__image .social a {
  color: #414c64;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  font-size: 20px;
}

.team .team__body .member .member__image .social a:hover {
  color: #ffc107;
}

.team .team__body .member .member__image:hover .social {
  opacity: 1;
}

.team .team__body .member .team__info {
  padding: 25px 15px;
}

.team .team__body .member .team__info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #414c64;
}

.team .team__body .member .team__info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaa;
}

.pricing {
  margin-top: 10px;
  padding-bottom: 60px;
}

.pricing .pricing__title {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}

.pricing .pricing__title h2 {
  padding-bottom: 20px;
  position: relative;
  font-weight: bold;
  font-size: 32px;
}

.pricing .pricing__title h2::after {
  content: "";
  background: #ffc107;
  position: absolute;
  display: block;
  height: 3px;
  width: 50px;
  left: 622px;
  margin-top: 20px;
}

.pricing .pricing__title p {
  padding-top: 20px;
  margin-bottom: 0;
  font-size: 14px;
  color: #aab3c7;
}

.pricing .pricing__body .box {
  margin-top: 20px;
  padding: 20px;
  background: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.pricing .pricing__body .box .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #ffc107;
  color: #fff;
}

.pricing .pricing__body .box .box__title {
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  color: #777777;
}

.pricing .pricing__body .box .box__title h3 {
  font-size: 16px;
  font-weight: 600;
}

.pricing .pricing__body .box .selected {
  background-color: #ffc107;
  color: #fff;
}

.pricing .pricing__body .box h4 {
  font-size: 36px;
  color: #ffc107;
  font-weight: 600;
  margin-bottom: 20px;
}

.pricing .pricing__body .box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing .pricing__body .box h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing .pricing__body .box ul {
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing .pricing__body .box ul li {
  padding-bottom: 16px;
}

.pricing .pricing__body .box .buy__btn {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}

.pricing .pricing__body .box .buy__btn button {
  padding: 10px 35px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #c8cedc;
  color: #6c7c9f;
}

.pricing .pricing__body .box .buy__btn button:hover {
  background: #fff;
}

.pricing .pricing__body .box .buy__btn .selected__btn {
  color: #fff;
  background-color: #ffc107;
  border: none;
}

.pricing .pricing__body .box .buy__btn .selected__btn:hover {
  background: #c8cedc;
}

.faq {
  margin-top: 10px;
  background-color: #f7f8fa;
  padding-bottom: 60px;
}

.faq .faq__title {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}

.faq .faq__title h2 {
  padding-bottom: 20px;
  position: relative;
  font-weight: bold;
  font-size: 32px;
}

.faq .faq__title h2::after {
  content: "";
  background: #ffc107;
  position: absolute;
  display: block;
  height: 3px;
  width: 50px;
  left: 622px;
  margin-top: 20px;
}

.faq .faq__title p {
  padding-top: 20px;
  margin-bottom: 0;
  font-size: 14px;
  color: #aab3c7;
}

.faq .faq__body .accordion-item {
  padding: 10px 5px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
}

.faq .faq__body .accordion-item .accordion-button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.faq .faq__body .accordion-item .accordion-button:hover {
  color: #ffc107;
}

.faq .faq__body .accordion-item .accordion-button .icon-help {
  color: #ffc107;
  padding-right: 10px;
  font-size: 24px;
}

.faq .faq__body .accordion-item .accordion-button:focus {
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.faq .faq__body .accordion-item .accordion-button:not(.collapsed) {
  background-color: #ffff;
  color: #ffc107;
}

.contact {
  margin-top: 10px;
}

.contact .contact__title {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}

.contact .contact__title h2 {
  padding-bottom: 20px;
  position: relative;
  font-weight: bold;
  font-size: 32px;
}

.contact .contact__title h2::after {
  content: "";
  background: #ffc107;
  position: absolute;
  display: block;
  height: 3px;
  width: 50px;
  left: 622px;
  margin-top: 20px;
}

.contact .contact__title p {
  padding-top: 20px;
  margin-bottom: 0;
  font-size: 14px;
  color: #aab3c7;
}

.contact .contact__body .info-box {
  color: #444444;
  text-align: center;
  -webkit-box-shadow: 0px 0px 20px rgba(65, 76, 100, 0.05);
          box-shadow: 0px 0px 20px rgba(65, 76, 100, 0.05);
  padding: 20px 0px 30px 0px;
}

.contact .contact__body .info-box i {
  font-size: 32px;
  color: #ffc107;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #ffeeba;
}

.contact .contact__body .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0px;
}

.contact .contact__body .info-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .contact__body .info-form {
  -webkit-box-shadow: 0 0 20px rgba(65, 76, 100, 0.05);
          box-shadow: 0 0 20px rgba(65, 76, 100, 0.05);
  padding: 30px;
}

.contact .contact__body .info-form .name__email input {
  padding: 10px 15px;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
  border: 1px solid #ced4da;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

.contact .contact__body .info-form .name__email input:focus {
  outline: #ffc107;
  border: 1px solid #ffc107;
}

.contact .contact__body .info-form .subject input {
  padding: 10px 15px;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
  border: 1px solid #ced4da;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

.contact .contact__body .info-form .subject input:focus {
  outline: #ffc107;
  border: 1px solid #ffc107;
}

.contact .contact__body .info-form .message textarea {
  padding: 10px 15px;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
  border: 1px solid #ced4da;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

.contact .contact__body .info-form .message textarea:focus {
  outline: #ffc107;
  border: 1px solid #ffc107;
}

.contact .contact__body .info-form .send__btn button {
  background: #ffc107;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
  margin-top: 10px;
}

.contact .contact__body .info-form .send__btn button:hover {
  background: #aab3c7;
}

.footer {
  margin-top: 60px;
  background: #fafafc;
  padding: 60px 0px 30px 0px;
}

.footer .footer__left p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}

.footer .footer__links h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  padding-bottom: 12px;
}

.footer .footer__links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer__links ul li {
  padding: 10px 0px;
}

.footer .footer__links ul li i {
  padding-right: 2px;
  color: #ffc107;
  font-size: 18px;
}

.footer .footer__links ul li a {
  color: #777777;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
}

.footer .footer__links ul li a:hover {
  color: #ffc107;
}

.footer .footer__services h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  padding-bottom: 12px;
}

.footer .footer__services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer__services ul li {
  padding: 10px 0px;
}

.footer .footer__services ul li i {
  padding-right: 2px;
  color: #ffc107;
  font-size: 18px;
}

.footer .footer__services ul li a {
  color: #777777;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
}

.footer .footer__services ul li a:hover {
  color: #ffc107;
}

.footer .footer__newsLetter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  padding-bottom: 12px;
}

.footer .footer__newsLetter p {
  margin-top: 0;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}

.footer .footer__newsLetter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  border: 1px solid #e1e4ec;
}

.footer .footer__newsLetter form .text__input {
  border: none;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

.footer .footer__newsLetter form .text__input:focus {
  outline: #fff;
  border: none;
}

.footer .footer__newsLetter form .button__input {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: none;
  font-size: 16px;
  padding: 0px 20px;
  background: #ffc107;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50px;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.footer__bottom {
  background: #fff;
  padding: 25px 0px;
}

.footer__bottom .copyright p {
  margin-bottom: 0;
  font-size: 14px;
  color: #777777;
}

.footer__bottom .copyright p .text-theme {
  color: #ffc107;
}

.footer__bottom .social__links a {
  font-size: 18px;
  display: inline-block;
  background: #e1e4ec;
  color: #5f6f92;
  line-height: 1;
  padding: 8px 0px;
  margin-right: 4px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__bottom .social__links a:hover {
  background: #ffc107;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  color: #444444;
}
/*# sourceMappingURL=style.css.map */