.counter {
    background: #f7f8fa;
    padding: 40px 0px;
    margin-top: 60px;
    .purecounter {
        font-size: 48px;
        display: block;
        color: #414c64;
    }
    p {
        font-size: 14px;
    }
}