.mid-section {
    margin-top: 60px;
    .bx-receipt {
        font-size: 48px;
        color: #8b97b3;
        margin-top: 15px;
    }

    .bx-cube-alt {
        font-size: 48px;
        color: #8b97b3;
        margin-top: 15px;
    }
    h3 {
        color: #414C64;
        font-weight: 700;
        font-size: 34px;
        margin-top: 10px;
    }
    p {
        font-size: 15px;
        color: #848484;
    }
    h4 {
        font-size: 20px;
        font-weight: 700;
        margin-top: 5px;
    }
}