.portfolio-details {
    padding: 30px;
    .owl-carousel {
        .owl-dots {
            position: relative;
            padding-top: 70px;
            text-align: center;
                .owl-dot {
                    position: relative;
                    display: inline-block;
                    margin: 0px 11px;
                        span {
                            background: #fff none repeat scroll 0 0;
                            bottom: 40px;
                            display: block;
                            height: 12px;
                            position: absolute;
                            transition: all 0.3s ease 0s;
                            width: 12px;
                            opacity: 1;
                            background: #fff;
                            border: 1px solid #ffc107;
                            border-radius: 50%;
                        }

                        
                }
                .active {
                    span {
                        background: #FFC107 none repeat scroll 0 0;
                    }
                }
        }
    }

    .project-info {
        padding: 30px;
        box-shadow: 0px 0px 30px rgba(65,76,100,0.08);
            h3 {
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #eee;
            }

            ul {
                list-style: none;
                font-size: 15px;
                    li {
                        margin-top: 10px;
                            a {
                                color: #ffc107;
                            }   
                    }
            }
    }

    .project-detail {
        padding-top: 30px;
            h2 {
                font-size: 26px;
                font-weight: 700;
                margin-bottom: 20px;
            }
    }
    
}