.services {
    margin-top: 60px;
        .services__title {
            text-align: center;
            padding-bottom: 30px;
            h2 {
                padding-bottom: 20px;
                position: relative;
                font-weight: bold;
                font-size: 32px;
            }
            h2::after {
                content: "";
                background: #ffc107;
                position: absolute;
                display: block;
                height: 3px;
                width: 50px;
                left: 622px;
                margin-top: 20px;
            }
            p {
                padding-top: 20px;
                margin-bottom: 0;
                font-size: 14px;
                color: #aab3c7;
            }
        }
}