@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200;1,400&family=Roboto:wght@100&display=swap');
@import 'header';
@import 'welcome-to-baker';
@import 'clients';
@import 'mid-section';
@import 'counter';
@import 'services';
@import 'call-to-action';
@import 'testimonials';
@import 'portfolio';
@import 'portfolio-details';
@import 'team';
@import 'pricing';
@import 'faq';
@import 'contact';
@import 'footer';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: #444444;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #ffc107;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #ffcb30;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

